@import "tailwindcss";

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("/fonts/ttf/NEXON_Lv2_Gothic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3b82f6;
  --accent: #f87171;
  --font-main: "NEXON Lv2 Gothic", Arial, Helvetica, sans-serif;

  /* 단일 컬러 변수 */
  --white: #ffffff;
  --black: #000000;
  --gray-1: #406485;
  --gray-2: #8d8985;
  --gray-3: #7a8c8b;
  --gray-4: #dcdad9;
  --blue-1: #81a8dc;
  --blue-2: #dce5ee;
  --blue-3: #aec5f0;
  --blue-4: #d5e6f7;
  --blue-5: #acccec;
  --blue-6: #d9e5f1;
  --purple-1: #676195;
  --purple-2: #b9afff;
  --purple-3: #8c81d8;
  --red-1: #f87171;
  --accent-1: #5f6364;
  --accent-2: #a15a40;
  --accent-3: #ffaf7c;
  --accent-4: #cb7348;
  --accent-5: #faf6f3;
  --accent-6: #acccec;

  /* 그라데이션 블루(1,2 통합) */
  --gradient-blue: linear-gradient(180deg, #dce5ee 0%, #acccec 100%);
  /* 그라데이션 퍼플 */
  --gradient-purple: linear-gradient(
    180deg,
    #676195 7%,
    #b9afff 17%,
    #8c81d8 29%
  );
  /* 그라데이션 오렌지 */
  --gradient-orange: linear-gradient(
    180deg,
    #a15a40 7%,
    #ffaf7c 17%,
    #cb7348 29%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #60a5fa;
    --accent: #fca5a5;
  }
}

body {
  font-family: "NEXON Lv2 Gothic", Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  font-weight: bold;
}

button {
  font-family: var(--font-main);
  color: var(--gray-1);
  border: 1.5px solid var(--gray-1);
  cursor: pointer;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.inset-dropdown {
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
